# Linear Regression with Multiple Variables a.k.a Multivariate Regression

In [3]:
import pandas as pd

In [4]:
houseprice={
    'area':[2600,3000,3200,3600,4000,4100],
    'bedrooms':[3,4,None,3,5,6],
    'age':[20,15,18,30,8,8],
    'price':[550000,565000,610000,595000,760000,810000]
}

In [5]:
houseprice

{'area': [2600, 3000, 3200, 3600, 4000, 4100],
 'bedrooms': [3, 4, None, 3, 5, 6],
 'age': [20, 15, 18, 30, 8, 8],
 'price': [550000, 565000, 610000, 595000, 760000, 810000]}

In [6]:
house_data=pd.DataFrame(houseprice)

In [7]:
house_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
house_data.bedrooms.mean()

4.2

In [9]:
house_data.bedrooms.median()

4.0

# Data Preprocessing: Fill NA values with median value of a column

In [10]:
house_data.bedrooms=house_data.bedrooms.fillna(house_data.bedrooms.median())
house_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

Question :- Find the price of home with 3000 sqr ft area, 3 bedrooms and 40 years old

1. Drop the column price.
2. Calculate intersect and coceff

In [11]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [12]:
reg.fit(house_data.drop('price',axis='columns'),house_data.price)

LinearRegression()

In [13]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [14]:
reg.intercept_

221323.00186540408

In [16]:
reg.predict([[3000,3,40]])

array([498408.25158031])

Question :- Find the price of home with 2500 sqr ft area, 4 bedrooms and 5 years old

In [17]:
reg.predict([[2500,4,5]])

array([578876.03748933])

In [18]:
house_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [19]:
reg.fit(house_data[['area','bedrooms','age']],house_data.price)

LinearRegression()

In [20]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [21]:
reg.intercept_

221323.00186540408

In [22]:
reg.predict([[7000,3,40]])

array([946658.01934885])